Source: ts3client
Section: non-free/comm
Priority: optional
Maintainer: José Ángel Pastrana Padilla <japp0005@red.ujaen.es>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://www.teamspeak.com

Package: ts3client
Architecture: amd64
Pre-Depends: debconf (>= 1.5)
Depends: libc6, libqt5core5a, libc++1, libc++abi1, libpulse0, libquazip1, libqt5gui5, libqt5network5, libqt5widgets5, libqt5svg5, libgl1-mesa-glx, libqt5dbus5, libqt5sql5, libasound2, libnss3, libnspr4, libfontconfig1, libx11-6, libxi6, libxcursor1, libxext6, libxfixes3, libxrender1, libxcomposite1, libxdamage1, libxtst6, libx11-xcb1, libxcb1, libudev1, libegl1-mesa, libqt5quick5, libqt5qml5, libqt5positioning5, libqt5sql5-sqlite, openssl, ca-certificates, ${shlibs:Depends}, ${misc:Depends}
Description: VoIP chat for online gaming (client)
 TeamSpeak is a quality, scalable application which enables people to speak
 with one another over the Internet. TeamSpeak consists of both client and
 server software. The server acts as a host to multiple client connections,
 capable of handling literally thousands of simultaneous users. This results
 in an Internet based teleconferencing solution that works in a variety of
 applications such as team mates speaking with one another while playing
 their favorite online game, small businesses cutting costs on long distance
 charges, or for personal communication with friends and family.
