#!/bin/sh
# Config prior to install

# Throw any error
set -e

# This function is a helper to abort the installation.
abort_install() {
	echo "${1}"
	exit 1
}

# Source debconf library.
. /usr/share/debconf/confmodule

# Clean flags to ensure the questions will be shown.
db_fset ts3client/view seen false
db_fset ts3client/license seen false

# Stack questions.
db_input critical ts3client/view || true
db_input critical ts3client/license || true

# Show questions.
db_go

# Retrieve answers.
db_get ts3client/view
db_get ts3client/license
if [ "${RET}" != "true" ]
then
	abort_install "The installation have been aborted because you do not agree the licensing of this software."
fi

# Finish without errors.
exit 0
